<div id="wrap_main_content">
	<div class="wrap_main_content_center content_scroll">
		<div class="main_content_header">
			<h1>監視タグ設定</h1>
		</div>
		<div class="wrap_list_box">
			<div class="list_box">
				<div class="list_box_header">
					<h3>監視タグ登録</h3>
				</div>
				<div class="wrap_surveillance_content">
					<div id="surveillance_box">
						<mat-form-field>
							<input matInput placeholder="Tag Name" value="" [(ngModel)]="searchWord">
						</mat-form-field>
						<br>
						<div class="tag_base tag_middle surveillance_tag" *ngFor="let stag of selectedTags" (click)="deleteTags($event)">{{stag.tagName}}</div>
					</div>
				</div>
				<div class="wrap_surveillance_content">
					<div id="surveillance_tag_candidate" class="content_scroll_y">
						<div class="tag_base tag_middle surveillance_tag" *ngFor="let tag of searchTag()" (click)="addTags($event)">{{tag.tagName}}</div>
					</div>
				</div>
				<div class="btn_position">
					<button mat-raised-button (click)="getJSON()">キャンセル</button>
					<button mat-raised-button color="primary" (click)="save()">保存</button>
				</div>
			</div>
		</div>
	</div>
</div>