<div id="wrap_main_content">
	<div class="wrap_main_content_center content_scroll">
		<div class="main_content_header">
			<h1>監視タグ設定</h1>
		</div>
		<div class="wrap_list_box">
			<div class="list_box">
				<div class="list_box_header">
					<h3>監視タグ登録</h3>
				</div>
				<div class="wrap_surveillance_content">
					<div id="surveillance_box">
						<div id="surveillance_tags"></div>
						<input type="text">
					</div>
				</div>
				<div class="wrap_surveillance_content">
					<div id="surveillance_tag_candidate" class="content_scroll_y">
						<div class="tag_base tag_middle surveillance_tag">2017年度新人研修</div>
						<div class="tag_base tag_middle surveillance_tag">2018年度新人研修</div>
						<div class="tag_base tag_middle surveillance_tag">A-AUTO研修</div>
						<div class="tag_base tag_middle surveillance_tag">帳票研修</div>
						<div class="tag_base tag_middle surveillance_tag">Waha!研修</div>
						<div class="tag_base tag_middle surveillance_tag">研修</div>
						<div class="tag_base tag_middle surveillance_tag">2017年度新人研修2</div>
						<div class="tag_base tag_middle surveillance_tag">2018年度新人研修2</div>
						<div class="tag_base tag_middle surveillance_tag">A-AUTO研修2</div>
						<div class="tag_base tag_middle surveillance_tag">帳票研修2</div>
						<div class="tag_base tag_middle surveillance_tag">Waha!研修2</div>
						<div class="tag_base tag_middle surveillance_tag">研修2</div>
						<div class="tag_base tag_middle surveillance_tag">2017年度新人研修3</div>
						<div class="tag_base tag_middle surveillance_tag">2018年度新人研修3</div>
						<div class="tag_base tag_middle surveillance_tag">A-AUTO研修3</div>
						<div class="tag_base tag_middle surveillance_tag">帳票研修3</div>
						<div class="tag_base tag_middle surveillance_tag">Waha!研修3</div>
						<div class="tag_base tag_middle surveillance_tag">研修3</div>
						<div class="tag_base tag_middle surveillance_tag">2017年度新人研修4</div>
						<div class="tag_base tag_middle surveillance_tag">2018年度新人研修4</div>
						<div class="tag_base tag_middle surveillance_tag">A-AUTO研修4</div>
						<div class="tag_base tag_middle surveillance_tag">帳票研修4</div>
						<div class="tag_base tag_middle surveillance_tag">Waha!研修4</div>
						<div class="tag_base tag_middle surveillance_tag">研修4</div>
					</div>
				</div>
				<div class="btn_position">
					<a href="#" class="square_btn">更新</a>
				</div>
			</div>
		</div>
	</div>
</div>