<mat-sidenav-container class="sidenav-child">
	<mat-sidenav #sidenav_child mode="side" opened="true">
		<mat-sidenav-container class="sidenav-child-menu">
			<!-- サイドメニューボタン -->
			<div id="wrap_side_menu_icon">
				<div id="menu_user" class="side_menu_icon" (click)="mymenuOpen()"></div>
				<div id="menu_search" class="side_menu_icon" (click)="searchOpen()"></div>
				<div id="menu_config" class="side_menu_icon" (click)="settingsOpen()"></div>
			</div>
			<div id="icon_logout"></div>
		</mat-sidenav-container>
	</mat-sidenav>

	<!-- サイドメニューコンテンツ -->
	<!--メニュー -->
	<nav *ngIf="mymenuVisible">
		<div id="wrap_side_menu_content">
			<div id="menu_user_content" class="menu_content">
				<div class="wrap_menu_contet_link">
					<div class="menu_content_link">
						<img src="/assets/image/top.svg" />
						<div class="menu_content_link_text">トップページ</div>
					</div>
					<div class="menu_content_link">
						<img src="/assets/image/new.svg" />
						<div class="menu_content_link_text">新規作成</div>
					</div>
					<div class="menu_content_link">
						<img src="/assets/image/new.svg" />
						<div class="menu_content_link_text">下書き</div>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<!-- 検索 -->
	<nav *ngIf="searchVisible">
		<div id="menu_search_content" class="menu_content">
			<div class="wrap_search_content">
				<h2>検索</h2>
			</div>
			<div class="wrap_search_content">
				<div id="search_box">
					<div id="selected_tags"></div>
					<input type="text">
				</div>
			</div>
			<div class="wrap_search_content">
				<div id="search_tag_candidate" class="content_scroll_y">
					<div class="tag_base tag_middle">2017年度新人研修</div>
					<div class="tag_base tag_middle">2018年度新人研修</div>
					<div class="tag_base tag_middle">A-AUTO研修</div>
					<div class="tag_base tag_middle">帳票研修</div>
					<div class="tag_base tag_middle">Waha!研修</div>
					<div class="tag_base tag_middle">研修</div>
				</div>
			</div>
		</div>
	</nav>

	<!-- 設定 -->
	<nav *ngIf="settingsVisible">
		<div id="wrap_side_menu_content">
			<div id="menu_config_content" class="menu_content">
				<div class="wrap_menu_contet_link">
					<div class="menu_content_link">
						<img src="/assets/image/user_config.svg" />
						<div class="menu_content_link_text">ユーザ設定</div>
					</div>
					<div class="menu_content_link">
						<img src="/assets/image/top_config.svg" />
						<div class="menu_content_link_text">トップページ設定</div>
					</div>
					<div class="menu_content_link">
						<img src="/assets/image/tag_config.svg" />
						<div class="menu_content_link_text">監視タグ設定</div>
					</div>
					<div class="menu_content_link">
						<img src="/assets/image/bell_config.svg" />
						<div class="menu_content_link_text">通知設定</div>
					</div>
				</div>
			</div>
		</div>
	</nav>

</mat-sidenav-container>