<mat-sidenav-container class="sidenav-child">
	<mat-sidenav #sidenav_child mode="side" opened="true">
		<mat-sidenav-container class="sidenav-child-menu">

			<!-- サイドメニューボタン -->
			<div id="wrap_side_menu_icon">
				<div class="side_menu_icon">
					<div id="menu_user" (click)="mymenuOpen()"></div>
				</div>
				<div class="side_menu_icon">
					<div id="menu_search" (click)="searchOpen()"></div>
				</div>
				<div class="side_menu_icon">
					<div id="menu_config" (click)="settingsOpen()"></div>
				</div>
			</div>
		</mat-sidenav-container>
	</mat-sidenav>

	<!-- サイドメニューコンテンツ -->
	<!--メニュー -->
	<nav *ngIf="mymenuVisible">
		<div id="wrap_side_menu_content">
			<div id="menu_user_content" class="menu_content">
				<div class="wrap_menu_contet_link">
					<div class="menu_content_link">
						<img src="/assets/image/top.svg" (click)="nav.toTop()" />
						<div class="menu_content_link_text" (click)="nav.toTop()">トップページ</div>
					</div>
					<div class="menu_content_link">
						<img src="/assets/image/new.svg" (click)="nav.toNew()" />
						<div class="menu_content_link_text" (click)="nav.toNew()">新規作成</div>
					</div>
					<div class="menu_content_link">
						<img src="/assets/image/new.svg" (click)="nav.toEdit()" />
						<div class="menu_content_link_text" (click)="nav.toEdit()">下書き
							<span *ngIf="num > 0" class="badge">{{num}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<!-- 検索 -->
	<nav *ngIf="searchVisible">
		<app-search></app-search>
	</nav>

	<!-- 設定 -->
	<nav *ngIf="settingsVisible">
		<div id="wrap_side_menu_content">
			<div id="menu_config_content" class="menu_content">
				<div class="wrap_menu_contet_link">
					<div class="menu_content_link">
						<img src="/assets/image/user_config.svg" (click)="nav.toMySetting()" />
						<div class="menu_content_link_text" (click)="nav.toMySetting()">ユーザ設定</div>
					</div>
					<div class="menu_content_link">
						<img src="/assets/image/tag_config.svg" (click)="nav.toMonitoringTagsSetting()" />
						<div class="menu_content_link_text" (click)="nav.toMonitoringTagsSetting()">監視タグ設定</div>
					</div>
					<div class="menu_content_link">
						<img src="/assets/image/bell_config.svg" (click)="nav.toNotificationSetting()" />
						<div class="menu_content_link_text" (click)="nav.toNotificationSetting()">通知設定</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
</mat-sidenav-container>