/* サイドメニュー */
.sidenav-child{
	height: 100%;
	width: 280px;
}

.sidenav-child-menu{
	height: 100%;
	background: #095731;
}

#wrap_side_menu_icon {
    height: 100%;
    float: left;
}

.side_menu_icon {
	/* border: 1px black solid; */
	padding: 1px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 1px;
	width: 48px;
	height: 48px;
	/* background: #095731; */
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;  
	cursor: pointer; 
}

.side_menu_icon_active {
	background: #dddddd;
}

#wrap_side_menu_content {
    position: absolute;
    background: #ddd;
    height: 100%;
    width: 100%;
}

#menu_user {
	background-image: url("/assets/image/menu_user.svg");
}

#menu_search {
	background-image: url("/assets/image/menu_search.svg");
}

#menu_config {
	background-image: url("/assets/image/menu_config.svg");
}

#icon_logout {
	position: absolute;
	bottom: 1px;
	left: 1px;
	width: 48px;
	height: 48px;
	background-image: url("/assets/image/logout.svg");
	cursor: pointer;
}

.menu_content {
	color: #000;
	width: 100%;
	height: 10%;
}

.wrap_menu_contet_link {
	width: 95%;
	height: 100%;
	margin-top: 30px;
}

.menu_content_link {
	width: 100%;
	height: 50px;
	margin: 5px 5px;
	line-height: 50px;
	text-align: center;
	float: left;
	/* border: 1px black solid; */
	border-radius: 50px;
	transition: background 0.3s ease-in-out;
	font-size: 1.0em;
	color: #555;
	letter-spacing: 0.05em;
	cursor: pointer;
}

.menu_content_link:hover{
	background: #bbb;
}

.menu_content_link img {
	margin-top: 5px;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	float: left;
}

.badge{
	float: right;
	width: 50px;
	font-size: 90%;
	border-radius: 50%;
	white-space: nowrap;
	font-weight: bold;
	background: #bbb;
}