<div id="wrap_main_content">
    <div class="wrap_main_content_center">
        <div class="main_content_header main_content_header_text">
        </div>
        <div class="wrap_list_box wrap_list_box_tall">
            <div class="list_box">
                <div class="list_box_header">
                    <h3>テンプレート一覧</h3>
                </div>

                <div class="table_container">
                    <mat-table #table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="templateName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> テンプレート名 </mat-header-cell>
                            <mat-cell *matCellDef="let template">
                                <span class="title_column" (click)="editDocument(template.templateId)">{{template.templateName}}</span>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="templateCreateDate">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> 作成日 </mat-header-cell>
                            <mat-cell *matCellDef="let template"> {{template.templateCreateDate | date: 'yyyy/MM/dd HH:mm'}} </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="tableService.displayedColumnsTemplate"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: tableService.displayedColumnsTemplate;"></mat-row>
                    </mat-table>
                </div>
            </div>
        </div>
    </div>
</div>