<div id="wrap_main_content">
	<div class="wrap_main_content_center content_scroll">
		<div class="main_content_header main_content_header_text">
			ユーザ情報
			<div class="apply-button">
				<button mat-raised-button (click)="resetAll()">キャンセル</button>
				<button mat-raised-button color="primary" (click)="submit()">保存</button>
			</div>
		</div>
		<div class="form-item" *ngIf="errorMessage != ''">
			<div class="form-error">{{ errorMessage }}</div>
		</div>
		<div class="wrap_list_box">
			<div class="list_box content_scroll_y">
				<table class="company">
					<tbody>
						<tr>
							<th class="arrow_box">社員番号</th>
							<td>{{settings.employeeNumber}}
							</td>
						</tr>
						<tr>
							<th class="arrow_box">姓</th>
							<td>
								<mat-form-field class="input-form">
									<input matInput placeholder="姓" value="{{settings.lastName}}" [(ngModel)]="tempSettings.lastName">
								</mat-form-field>
								<button class="apply-button" mat-raised-button (click)="resetLastName()">キャンセル</button>
							</td>
						</tr>
						<tr>
							<th class="arrow_box">名</th>
							<td>
								<mat-form-field class="input-form">
									<input matInput placeholder="名" value="{{settings.firstName}}" [(ngModel)]="tempSettings.firstName">
								</mat-form-field>
								<button class="apply-button" mat-raised-button (click)="resetFirstName()">キャンセル</button>
							</td>
						</tr>
						<tr>
							<th>せい</th>
							<td>
								<mat-form-field class="input-form">
									<input matInput placeholder="せい" value="{{settings.lastNamePhonetic}}" [(ngModel)]="tempSettings.lastNamePhonetic">
								</mat-form-field>
								<button class="apply-button" mat-raised-button (click)="resetLastNamePhonetic()">キャンセル</button>

							</td>
						</tr>
						<tr>
							<th>めい</th>
							<td>
								<mat-form-field class="input-form">
									<input matInput placeholder="めい" value="{{settings.firstNamePhonetic}}" [(ngModel)]="tempSettings.firstNamePhonetic">
								</mat-form-field>
								<button class="apply-button" mat-raised-button (click)="resetFirstNamePhonetic()">キャンセル</button>
							</td>
						</tr>
						<tr>
							<th>メールアドレス</th>
							<td>
								<mat-form-field class="input-form">
									<input matInput placeholder="メールアドレス" value="{{settings.mailaddress}}" [(ngModel)]="tempSettings.mailaddress">
								</mat-form-field>
								<button class="apply-button" mat-raised-button (click)="resetMailaddress()">キャンセル</button>
							</td>
						</tr>
						<tr>
							<th>アイコン</th>
							<!--
							<td *ngIf="isIconInput">
								<div class="row">
									<div class="col-md-3">
										<div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" class="well my-drop-zone">
											Base drop zone
										</div>
										<input type="file" ng2FileSelect/>
									</div>
								</div>
							</td>
							-->
							<td *ngIf="!isIconInput">
								<div class="icon_position">
									<img [src]="authService.userdetail.iconUrl" class="account_icon" />
								</div>
								<div class="pen_position">
									<input type="image" src="../../assets/image/pen.svg" class="pen_btn" (click)="editIsIcon()">
								</div>
							</td>
						</tr>
						<tr>
							<th>パスワード</th>
							<td>
								<button mat-raised-button color="primary" (click)="initialization()">パスワード初期化</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>