<div id="wrap_main_content">
	<div class="wrap_main_content_center">
		<div class="main_content_header main_content_header_text">
			ユーザ情報
			<div class="apply-button">
				<button mat-raised-button (click)="resetAll()">キャンセル</button>
				<button mat-raised-button color="primary" (click)="submit()">保存</button>
			</div>
		</div>
		<div class="form-item" *ngIf="errorMessage != ''">
			<div class="form-error">{{ errorMessage }}</div>
		</div>
		<div class="wrap_list_box">
			<div class="list_box content_scroll_y">
				<table class="company">
					<tbody>
						<tr>
							<th class="arrow_box">社員番号</th>
							<td>{{userSettings.employeeNumber}}
							</td>
						</tr>
						<tr>
							<th class="arrow_box">姓</th>
							<td>
								<mat-form-field class="input-form">
									<input matInput placeholder="姓" value="{{userSettings.lastName}}" [(ngModel)]="tempUserSettings.lastName">
								</mat-form-field>
								<button class="apply-button" mat-raised-button (click)="resetLastName()">キャンセル</button>
							</td>
						</tr>
						<tr>
							<th class="arrow_box">名</th>
							<td>
								<mat-form-field class="input-form">
									<input matInput placeholder="名" value="{{userSettings.firstName}}" [(ngModel)]="tempUserSettings.firstName">
								</mat-form-field>
								<button class="apply-button" mat-raised-button (click)="resetFirstName()">キャンセル</button>
							</td>
						</tr>
						<tr>
							<th>セイ</th>
							<td>
								<mat-form-field class="input-form">
									<input matInput placeholder="セイ" value="{{userSettings.lastNamePhonetic}}" [(ngModel)]="tempUserSettings.lastNamePhonetic">
								</mat-form-field>
								<button class="apply-button" mat-raised-button (click)="resetLastNamePhonetic()">キャンセル</button>

							</td>
						</tr>
						<tr>
							<th>メイ</th>
							<td>
								<mat-form-field class="input-form">
									<input matInput placeholder="メイ" value="{{userSettings.firstNamePhonetic}}" [(ngModel)]="tempUserSettings.firstNamePhonetic">
								</mat-form-field>
								<button class="apply-button" mat-raised-button (click)="resetFirstNamePhonetic()">キャンセル</button>
							</td>
						</tr>
						<tr>
							<th>メールアドレス</th>
							<td>
								<mat-form-field class="input-form">
									<input matInput placeholder="メールアドレス" value="{{userSettings.mailaddress}}" [(ngModel)]="tempUserSettings.mailaddress">
								</mat-form-field>
								<button class="apply-button" mat-raised-button (click)="resetMailaddress()">キャンセル</button>
							</td>
						</tr>
						<tr>
							<th>アイコン</th>
							<td>
								<div class="icon_position">
									<img *ngIf="!authService.isUserEmpty()" [src]="authService.userdetail.iconUrl" class="account_icon" />
								</div>
								<div class="pen_position">
									<button mat-icon-button (click)="editIcon()">
										<mat-icon>mode_edit</mat-icon>
									</button>
								</div>
							</td>
						</tr>
						<tr>
							<th>パスワード</th>
							<td>
								<button mat-raised-button color="primary" (click)="initialization()">パスワード初期化</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>