<div id="wrap_main_content">
    <div class="wrap_main_content_center content_scroll">
        <div id="view_body">
            <div id="view_plate">
                <div id="view_header">
                    <h1>文書タイトル</h1>
                    <hr />
                    <div id="tag_list">
                        <div *ngFor="let t of tags" class="tag_base tag_middle tag_side">{{ t }}</div>
                    </div>
                </div>
                <div id="view_content_list">
                    <!-- コンテンツ -->
                    <div class="content" *ngFor="let content of contents;let i = index;" [id]="content.id">
                        <div class="block_body">
                            <div class="block_header">
                                <h4>{{i+1}}. {{ templateValues[content.id][0] }}</h4>
                            </div>
                            <hr>
                            <div class="block_body">
                                <div *ngFor="let item of content.items;let i = index;" [class]="item.documentType == 'hidden'? '' : item.size > 1 ? 'block_item block_item_tall' : 'block_item'">
                                    <div [ngSwitch]="item.documentType">
                                        <div *ngSwitchCase="'span'">
                                            <span>{{ templateValues[content.id][i] }}</span>
                                        </div>
                                        <div *ngSwitchCase="'text'">
                                            <span>{{ templateValues[content.id][i] }}</span>
                                        </div>
                                        <div *ngSwitchCase="'textarea'">
                                            <span>{{ templateValues[content.id][i] }}</span>
                                        </div>
                                        <div *ngSwitchCase="'checkbox'">
                                            {{ isChecked(content.id, i - content.offset) ? "■" : "□" }}
                                            <span>{{ templateValues[content.id][i] }}</span>
                                        </div>
                                        <div *ngSwitchCase="'radio'">
                                            {{ isChecked(content.id, i - content.offset) ? "●" : "○" }}
                                            <span>{{ templateValues[content.id][i] }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- コンテンツ -->
                </div>
            </div>
            <div id="view_comment">
                <h1>コメント</h1>
                <hr/>
                <div id="view_comment_list">
                    <div *ngFor="let comment of comments" class="view_comment_content">
                        <div class="user_icon">
                            <img [src]="comment.isIcon ? 'image/' + comment.employeeNumber + '.jpg' : 'image/user.svg'">
                        </div>
                        <div class="comment_info">
                            <p class="user_name">{{ comment.lastName }} {{ comment.firstName }}</p>
                            <p class="comment_date">{{ covert.time2Date(comment.commentDate) }}</p>
                        </div>
                        <hr/>
                        <div class="comment_text">
                            <span>{{ comment.commentContent }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="wrap_footer_content">
    <div class="footer">
        <div class="footer_area">
            <div id="comment">
                <p>コメント</p>
                <textarea id="comment_input"></textarea>
            </div>
            <div class="footer_botton">
                <div class="footer_button_zoom">
                    <button class="resize" value="-0.1">縮小</button>
                    <button class="resize" value="0">元のサイズ</button>
                    <button class="resize" value="0.1">拡大</button>
                </div>
                <div class="footer_button_send">
                    <button class="send_comment">送信</button>
                </div>
            </div>
        </div>
    </div>
</div>