<div id="wrap_main_content">
    <div class="wrap_main_content_center content_scroll">
        <button class="edit_button" *ngIf="isMyDocument()" (click)="goEdit()" mat-raised-button style="margin-bottom: 1em;">
            <mat-icon>edit</mat-icon>
        </button>
        <div id="view_body">
            <div id="view_plate">
                <div id="view_header">
                    <div style="overflow:auto;">
                        <h1 style="float: left;">{{ document.documentName }}</h1>
                        <div *ngIf="document.isFav">
                            <button mat-icon-button class="fav_button" (click)="favorite()">
                                <mat-icon class="fav">star</mat-icon>
                            </button>
                        </div>
                        <div *ngIf="!document.isFav">
                            <button mat-icon-button class="fav_button" (click)="favorite()">
                                <mat-icon class="unfav">star_border</mat-icon>
                            </button>
                        </div>

                        <div style="float:right;">
                            <h3>
                                投稿者: {{ document.employeeNumber }} - {{ document.authorName }}
                            </h3>
                            最終更新日: {{ convert.time2Date(document.documentCreateDate) }}
                        </div>
                    </div>
                    <hr />
                    <div id="tag_list">
                        <div *ngFor="let t of tags" class="tag_base tag_middle tag_side">{{ t }}</div>
                    </div>
                </div>
                <div id="view_content_list">
                    <!-- コンテンツ -->
                    <div class="content" *ngFor="let content of template.contents;let idx = index;">
                        <div class="block_body">
                            <div class="block_header">
                                <h4>{{idx + 1}}. {{ content.values[0] }}</h4>
                            </div>
                            <hr>
                            <div class="block_body">
                                <div *ngFor="let item of content.block.items;let i = index;">
                                    <div [ngSwitch]="item.documentType">
                                        <div *ngSwitchCase="'span'">
                                            <pre>{{ content.values[content.block.getTemplateValueIndex(i)] }}</pre>
                                        </div>
                                        <div *ngSwitchCase="'text'">
                                            <li style="margin-left:1em" *ngIf="document.values[+idx][content.block.getDocumentValueIndex(i)].length > 0">
                                                {{ document.values[+idx][content.block.getDocumentValueIndex(i)] }}
                                            </li>
                                        </div>
                                        <div *ngSwitchCase="'textarea'">
                                            <pre>{{ document.values[+idx][content.block.getDocumentValueIndex(i)] }}</pre>
                                        </div>
                                        <div *ngSwitchCase="'checkbox'">
                                            <mat-checkbox [checked]="isChecked(idx, content.block.getDocumentValueIndex(i))" style="margin-left:1em">
                                                {{ content.values[content.block.getTemplateValueIndex(i)] }}
                                            </mat-checkbox>
                                        </div>
                                        <div *ngSwitchCase="'radio'">
                                            <mat-radio-button value="i" [checked]="isChecked(idx, content.block.getDocumentValueIndex(i))" (click)="false" style="margin-left:1em">
                                                {{ content.values[content.block.getTemplateValueIndex(i)] }}
                                            </mat-radio-button>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>
                    <!-- コンテンツ -->
                </div>
            </div>
            <div id="view_comment">
                <h1>コメント</h1>
                <hr/>
                <div id="view_comment_list">
                    <div *ngFor="let comment of comments; let idx = index" class="view_comment_content">
                        <div class="user_icon">
                            <img class="account_icon" [src]="commenterIcon(idx)">
                        </div>
                        <div class="comment_content">
                            <div class="comment_info">
                                <p class="user_name">{{ comment.lastName }} {{ comment.firstName }}</p>
                                <p class="comment_date">{{ convert.time2Date(comment.commentDate) }}</p>
                                <div [ngSwitch]="comment.alreadyRead">
                                    <div *ngSwitchCase="'unread'">
                                        <button mat-icon-button disabled></button>
                                    </div>
                                    <div *ngSwitchCase="'unreadMe'">
                                        <button mat-icon-button class="read_button" (click)="readComment(idx)">
                                            <mat-icon>check_circle</mat-icon>
                                        </button>
                                    </div>
                                    <div *ngSwitchCase="'read'">
                                        <button mat-icon-button disabled class="read_button">
                                            <mat-icon>done</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="comment_text">{{comment.content}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="footer-fixed">
    <div id="footer">
        <div id="footer_content">
            <mat-form-field class="comment_input">
                <textarea matInput placeholder="コメント入力欄" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="5" [(ngModel)]="commentStr"
                    (keypress)="eventHandler($event)"></textarea>
                <button mat-icon-button *ngIf="commentStr" matSuffix aria-label="Clear" (click)="commentStr=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <div class="submit-button">
                <button mat-raised-button color="primary" (click)="submit()">
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>