<div id="wrap_main_content">
    <div class="wrap_main_content_center content_scroll">
        <!--
        <div class="main_content_header">
            <h1>文書タイトル</h1>
        </div>
        <hr />
        -->
        <div id="view_body">
            <div id="view_plate">
                <div id="view_header">
                    <h1>文書タイトル</h1>
                    <hr />
                    <div id="tag_list">
                        <div class="tag_base tag_middle tag_side tag_erasable">2018年度新人研修日報</div>
                        <div class="tag_base tag_middle tag_side tag_erasable">ビジネスマナー研修</div>
                    </div>
                </div>
                <div id="view_content_list">
                    <div class="view_content_block_header">
                        <h4>学んだこと</h4>
                    </div>
                    <hr/>
                    <div class="view_content_block_body">
                        <ul type="disc">
                            <li>学んだこと1</li>
                            <span>ああああああああ</span>
                            <li>学んだこと2</li>
                            <li>学んだこと3</li>
                            <li>学んだこと4</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="view_comment">
                <h1>コメント</h1>
                <hr/>
                <div id="view_comment_list">
                    <div class="view_comment_content">
                        <div class="user_icon">
                            <img src="image/user.svg">
                        </div>
                        <div class="comment_info">
                            <p class="user_name">浅野雅則</p>
                            <p class="comment_date">2018/01/31 17:16</p>
                        </div>
                        <hr/>
                        <div class="comment_text">
                            <span>コメントの内容あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="wrap_footer_content">
        <div class="footer">
            <div class="footer_area">
                <div id="comment">
                    <p>コメント</p>
                    <textarea id="comment_input"></textarea>
                </div>
                <div class="footer_botton">
                    <div class="footer_button_zoom">
                        <button class="resize" value = "-0.1">縮小</button>
                        <button class="resize" value = "0">元のサイズ</button>
                        <button class="resize" value = "0.1">拡大</button>
                    </div>
                    <div class="footer_button_send">
                        <button class="send_comment">送信</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
