<div id="wrap_main_content">
  <div class="wrap_main_content_center content_scroll_y">
    <div class="main_content_header">
      <h1>トップページ(仮)</h1>
    </div>
    <button>新規ユーザ登録</button>
    <input type="text">
    <button>検索</button>
    <div class="wrap_list_box wrap_list_box_tall">
      <div class="list_box">
        <div class="list_box_header">
          <h3>ユーザ一覧</h3>
        </div>
        <div class="list_box_content list_box_content_tall">
          <div class="content_scroll_y">
            <table id="template_info_list">
              <tr>
                <th id="user_list_id">社員番号</th>
                <th id="user_list_name">氏名</th>
                <th id="user_list_phonetic">ふりがな</th>
                <th id="user_list_,mail">メールアドレス</th>
                <th id="user_list_flag">有効／無効</th>
                <th id="user_list_initialization">初期化</th>
              </tr>
              <tr>
                <td>97967</td>
                <td>中川路　玄哉</td>
                <td>なかかわじ　ひろや</td>
                <td>hiroya_nakakawjai@unirita.co.jp</td>
                <td><input type="checkbox" id="toggleButton_tag" class="toggle-button_tag"><label for="toggleButton_tag1"></label></td>
                <td><button>初期化</button></td>
              </tr>
            </table>
          </div>                  
        </div>
      </div>
    </div>
  </div>
</div>
