<div id="wrap_main_content">
    <div class="wrap_main_content_center">
        <div class="main_content_header">
            <span class="main_content_header_text">ユーザ管理</span>
            <button mat-raised-button class="button_newuser" color="primary" (click)="createUser()">
                <mat-icon>person_add</mat-icon>
            </button>


            <mat-form-field class="user_filter">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="ユーザ検索">
            </mat-form-field>
        </div>
        <div class="table_container">

            <mat-table #table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="employeeNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> 社員番号 </mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{user.employeeNumber}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> 氏名 </mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="mailaddress">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> メールアドレス </mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{user.mailaddress}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="enabled">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> 有効/無効 </mat-header-cell>
                    <mat-cell *matCellDef="let user; let idx = index">
                        <mat-slide-toggle id="toggleButton_tag" (change)="confirmChangeEnable(user)" [checked]="user.enabled" color="primary"></mat-slide-toggle>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="reset">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> 初期化 </mat-header-cell>
                    <mat-cell *matCellDef="let user; let idx = index">
                        <button mat-raised-button color="warn" (click)=" initialization(user) ">初期化</button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
</div>