<div id="wrap_main_content">
	<div class="wrap_main_content_center">
		<div class="main_content_header main_content_header_text">
			テンプレート選択
		</div>
		<div class="wrap_list_box wrap_list_box_tall">
			<div class="list_box">
				<div class="list_box_header">
					<h3>テンプレート一覧</h3>
				</div>

				<div class="table_container">
					<mat-table #table [dataSource]="tableService.dataSource" matSort>

						<ng-container matColumnDef="templateId">
							<mat-header-cell *matHeaderCellDef mat-sort-header>テンプレートID </mat-header-cell>
							<mat-cell *matCellDef="let template"> {{template.templateId}} </mat-cell>
						</ng-container>
						<ng-container matColumnDef="templateName">
							<mat-header-cell *matHeaderCellDef mat-sort-header> テンプレート名 </mat-header-cell>
							<mat-cell *matCellDef="let template">{{template.templateName}}</mat-cell>
						</ng-container>
						<ng-container matColumnDef="templateCreateDate">
							<mat-header-cell *matHeaderCellDef mat-sort-header> 作成日 </mat-header-cell>
							<mat-cell *matCellDef="let template"> {{template.templateCreateDate | date: 'yyyy/MM/dd HH:mm'}} </mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="tableService.displayedColumnsTemplate"></mat-header-row>
						<mat-row routerLink="/admin/template/{{row.templateId}}" *matRowDef="let row; columns: tableService.displayedColumnsTemplate;"></mat-row>
					</mat-table>
				</div>
			</div>
		</div>
	</div>
</div>