/* ここから全体 */
#wrap_edit_template{
    width: calc(100% - 250px);
}

#wrap_edit_template_toolbar{
    width: 250px;
}

#wrap_edit_template_toolbar h2 {
    text-align: center;
    line-height: 2em;
    height: 2em;
}

.wrap_edit_content{
    float: left;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrap_main_content_center form {
    margin: 0;
    padding: 0;
    height: 100%;
}
/* ここまで全体 */

/* ここからテンプレ選択画面 */
table {
    width: 100%;
}

table tr th,
table tr td {
    padding: 5px 10px;
    border: 2px solid #ddd;
    vertical-align: middle;
}

table tr th {
    background: #aaa;
}

table tr th {
    text-align: center;
    font-weight: bold;
}


tr:nth-child(odd) td {  
    background-color: #fff;  
}