
<div class="form-wrapper">
    <div class="image-wrapper">
            <img src="../assets/image/logo.png">
    </div>
    <form action="top.html">
        <div class="form-item">
            <div class="form-error">
                <div id="error-message">
                    <!-- 社員番号とパスワードの<br/>組み合わせが異なります -->
                </div>
            </div>
        </div>
        <div class="form-item">
            <input type="text" name="employeeId" placeholder="社員番号" required="required" value="99999"/>
        </div>
        <div class="form-item">
            <input type="password" name="password" placeholder="パスワード" required="required" value="hoge"/>
        </div>
        <div class="button-wrapper">
            <input type="submit" class="button" title="LOGIN" value="login" />
        </div>
        <div class="form-footer">
            <a href ="#" id="reset_dialog">パスワードを忘れた場合はこちら</a>
        </div>
        <form action="#" id="reset_pass_form">
            <div id="reset_pass" style="display:none;">
                <table width="450">
                    <tr>
                        <th>社員番号</th>
                        <td><input type="text" name="pass" id="employee_id" style="width:100%"></td>
                    </tr>
                    <tr>
                        <th>メールアドレス</th>
                        <td><input type="text" name="pass" id="mail" style="width:100%"></td>
                    </tr>
                </table>
            </div>
        </form>
        <div id="alert" style="display:none;">
            <p>メールを送信しました。</p>
        </div>
    </form>
</div>
