<div id="wrap_main_content">
        <div class="wrap_main_content_center content_scroll_y">
            <div class="main_content_header">
                <h1>トップページ(仮)</h1>
            </div>
            <div class="wrap_list_box">
                <div class="list_box">
                    <div class="list_box_header">
                        <h3>最近の更新</h3>
                    </div>
                    <div class="list_box_content content_scroll_y">
                        <ul>
                            <li>
                                <a href="#">あなたの投稿した文書にコメントがつきました</a>
                                <div class="list_content_time">1970/01/01 00:00</div>
                            </li>
                            <li>
                                <a href="#">監視登録タグ「新人研修日報」のついた文書が投稿されました</a>
                                <div class="list_content_time">1970/01/01 00:00</div>
                            </li>
                            <li>
                                <a href="#">あなたがつけたコメントが既読になりました</a>
                                <div class="list_content_time">1970/01/01 00:00</div>
                            </li>
                            <li>
                                <a href="#">監視登録タグ「新人研修日報」のついた文書が投稿されました</a>
                                <div class="list_content_time">1970/01/01 00:00</div>
                            </li>
                            <li>
                                <a href="#">監視登録タグ「新人研修日報」のついた文書が投稿されました</a>
                                <div class="list_content_time">1970/01/01 00:00</div>
                            </li>
                            <li>
                                <a href="#">あなたがつけたコメントが既読になりました</a>
                                <div class="list_content_time">1970/01/01 00:00</div>
                            </li>
                            <li>
                                <a href="#">あなたがつけたコメントが既読になりました</a>
                                <div class="list_content_time">1970/01/01 00:00</div>
                            </li>
                            <li>
                                <a href="#">あなたがつけたコメントが既読になりました</a>
                                <div class="list_content_time">1970/01/01 00:00</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wrap_list_box">
                <div class="list_box">
                    <div class="list_box_header">
                        <h3>自分の投稿一覧</h3>
                    </div>
                    <div class="list_box_content content_scroll_y">
                        
                    </div>
                </div>
            </div>
            <div class="wrap_list_box">
                <div class="list_box">
                    <div class="list_box_header">
                        <h3>お気に入り文書一覧</h3>
                    </div>
                    <div class="list_box_content content_scroll_y">
                        
                    </div>
                </div>
            </div>
            <div class="wrap_list_box">
                <div class="list_box">
                    <div class="list_box_header">
                        <h3>監視タグ付き文書一覧</h3>
                    </div>
                    <div class="list_box_content content_scroll_y">
                        
                    </div>
                </div>
            </div>
            <div class="wrap_list_box">
                <div class="list_box">
                    <div class="list_box_header">
                        <h3>テンプレート一覧</h3>
                    </div>
                    <div class="list_box_content content_scroll_y">
                        
                    </div>
                </div>
            </div>
            <div class="wrap_list_box">
                
            </div>            
        </div>
    </div>