.toppage_list {
    color: #0000ff;
    text-decoration: underline;
}

.toppage_list:hover {
    text-decoration: none;
    cursor: pointer;
}
.wrap_list_box {
    width: 90%;
    margin: 30px 10px;
    margin-left: 5%;
    padding: 0;
    /* height: 100px; */
 }

 .isNew{
     color: red;
     margin-left: 20px;
 }

 .mat-table{
     overflow: auto;
     height: 13em;
 }

 .hoge{
     color: blue;
 }