<div id="wrap_main_content">
    <div class="wrap_main_content_center content_scroll_y">
        <div class="main_content_header">
            <h1>トップページ(仮)</h1>
        </div>
        <div class="wrap_list_box">
            <div class="list_box">
                <div class="list_box_header">
                    <h3>コメント通知一覧</h3>
                </div>
                <div class="list_box_content content_scroll_y">
                    <ul>
                        <li *ngFor="let list of updateList">
                            <a href="#" *ngIf="list.updateType == 'v0000000000'"></a>
                            <div class="list_content_time">{{list.updateDate}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="wrap_list_box">
            <div class="list_box">
                <div class="list_box_header">
                    <h3>自分の投稿一覧</h3>
                </div>
                <div class="list_box_content content_scroll_y">

                </div>
            </div>
        </div>
        <div class="wrap_list_box">
            <div class="list_box">
                <div class="list_box_header">
                    <h3>お気に入り文書一覧</h3>
                </div>
                <div class="list_box_content content_scroll_y">

                </div>
            </div>
        </div>
        <div class="wrap_list_box">
            <div class="list_box">
                <div class="list_box_header">
                    <h3>監視タグ付き文書一覧</h3>
                </div>
                <div class="list_box_content content_scroll_y">

                </div>
            </div>
        </div>
        <div class="wrap_list_box">
            <div class="list_box">
                <div class="list_box_header">
                    <h3>テンプレート一覧</h3>
                </div>
                <div class="list_box_content content_scroll_y">

                </div>
            </div>
        </div>
        <div class="wrap_list_box">

        </div>
    </div>
</div>