.wrap_list_box {
    width: 90%;
    margin: 30px 10px;
    margin-left: 5%;
    padding: 0;
    /* height: 100px; */
 }

 .isNew{
     color: red;
     margin-left: 10px;
 }

 .mat-table{
     overflow: auto;
     height: calc(40vh - 46px);
 }
.mat-column-name{
    flex: 0 0 120px;
}

.mat-column-documentCreateDate{
    flex: 0 0 150px;
}

 .mat-column-updateDate{
    flex: 0 0 150px;
}
 .grid_list {
    padding-bottom: 0px !important;
 }

 .toppage_tile_upper {
     height: 45vh;
     padding-top: 45vh !important;
 }

 .toppage_tile_under {
    height: 45vh;
    padding-top: 45vh !important;
    margin-top: 45vh !important;
 }