<div id="wrap_main_content">
    <div class="wrap_main_content_center content_scroll">
        <div id="wrap_edit_template" class="wrap_edit_content">
            <div id="edit_template_header">
                <h2>文書編集</h2>
            </div>
            <hr />
            <div id="edit_template_body" class="content_scroll_y">
                <mat-form-field id="document_title">
                    <input matInput [(ngModel)]="document.documentName" name="documentName" placeholder="ドキュメント名">
                </mat-form-field>
                <div id="document_plate">
                    <h3>タグ</h3>
                    <div id="wrap_tag_list">
                        <div id="tag_list">
                            <div *ngFor="let t of fixedTags">
                                <div class="tag_base tag_middle tag_side">{{ t.tagName }}</div>
                            </div>
                            <div *ngFor="let t of searchService.selectedTags; let idx = index">
                                <div class="tag_base tag_middle tag_side tag_erasable" (click)="searchService.deleteTags($event,idx)">{{ t.tagName }}
                                </div>
                            </div>
                            <div *ngFor="let t of searchService.newTags; let idx = index">
                                <div class="tag_base tag_new tag_side tag_erasable" (click)="searchService.deleteNewTags(idx)">{{ t.tagName }}</div>
                            </div>
                        </div>
                    </div>
                    <div id="template_content_list">
                        <!-- コンテンツ -->
                        <div class="content" *ngFor="let content of template.contents;let idx = index;trackBy:trackByIndex;">
                            <div class="block_body">
                                <div class="block_header">
                                    <h4>{{ idx + 1 }}. {{ content.values[0] }}</h4>
                                </div>
                                <hr>
                                <div class="block_body">
                                    <div *ngFor="let item of content.block.items;let i = index;">
                                        <div [ngSwitch]="item.documentType">
                                            <div *ngSwitchCase="'span'">
                                                <span>
                                                    <pre>{{ content.values[content.block.getTemplateValueIndex(i)] }}</pre>
                                                </span>
                                            </div>
                                            <div *ngSwitchCase="'text'">
                                                <mat-form-field class="block_body_content_full">
                                                    <input matInput [(ngModel)]="document.values[idx][content.block.getDocumentValueIndex(i)]">
                                                </mat-form-field>
                                            </div>
                                            <div *ngSwitchCase="'textarea'">
                                                <mat-form-field class="block_body_content_full">
                                                    <textarea matInput rows="3" [(ngModel)]="document.values[idx][content.block.getDocumentValueIndex(i)]"></textarea>
                                                </mat-form-field>
                                            </div>
                                            <div *ngSwitchCase="'checkbox'">
                                                <mat-checkbox [name]="'content-' + idx" [checked]="isChecked(idx, content.block.getDocumentValueIndex(i))" (click)="clickCheckBox(idx, content.block.getDocumentValueIndex(i))"
                                                    style="margin-left:1em">
                                                    {{ content.values[content.block.getTemplateValueIndex(i)] }}
                                                </mat-checkbox>
                                            </div>
                                            <div *ngSwitchCase="'radio'">
                                                <mat-radio-button [name]="'content-' + idx" [checked]="isChecked(idx, content.block.getDocumentValueIndex(i))" (click)="clickRadio(idx, content.block.getDocumentValueIndex(i))"
                                                    style="margin-left:1em">
                                                    {{ content.values[content.block.getTemplateValueIndex(i)] }}
                                                </mat-radio-button>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="content.block.additionalType == 'document'" class="block_item">
                                        <button mat-raised-button color="primary" (click)="addItem(idx)">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                        <button mat-raised-button (click)="removeItem(idx)">
                                            <mat-icon>remove</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- コンテンツ -->
                    </div>
                </div>
            </div>
        </div>
        <div id="wrap_edit_template_toolbar" class="wrap_edit_content">
            <div id="wrap_template_toolbar_content">
                <mat-tab-group class="edit_template_tab">
                    <mat-tab label="タグ" id="tag_label">
                        <div id="menu_search_content" class="menu_content">
                            <div *ngIf="searchService.selectedTags.length < 8">
                                <mat-form-field>
                                    <input matInput placeholder="Tag Name" value="" (input)="searchService.searchTag($event.target.value)">
                                </mat-form-field>
                            </div>

                            <div class="wrap_search_content">
                                <div id="search_tag_candidate" class="content_scroll_y">
                                    <nav *ngIf="searchService.createNewTag() != ''">
                                        <div class="tag_base tag_new" (click)="searchService.addNewTags($event)">{{searchService.newTagName}}</div>
                                    </nav>
                                    <div *ngFor="let tag of searchService.targetTags; let idx = index">
                                        <div class="tag_base tag_middle" (click)="searchService.addTags($event,4,idx)">{{tag.tagName}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <div id="wrap_template_toolbar_button">
                <div *ngIf="!document.documentId">
                    <button mat-raised-button class="send_button" (click)="submit('draft')">下書き</button>
                </div>
                <div>
                    <button mat-raised-button class="send_button" (click)="submit('save')">保存</button>
                </div>
                <div>
                    <button mat-raised-button class="send_button" (click)="goBack()">戻る</button>
                </div>
            </div>
        </div>
    </div>
</div>