<div id="wrap_main_content">
    <div class="wrap_main_content_center">
        <div class="main_content_header main_content_header_text">
            新規文書 - 下書き文書選択
        </div>
        <div class="wrap_list_box wrap_list_box_tall">
            <div class="list_box">
                <div class="list_box_header">
                    <h3>下書き文書一覧</h3>
                </div>
                <div class="table_container">
                    <mat-table #table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="documentName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> ドキュメント名 </mat-header-cell>
                            <mat-cell *matCellDef="let document">
                                <span class="title_column" (click)="editDocument(document.documentId)">{{document.documentName}}</span>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="documentCreateDate">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> 作成日 </mat-header-cell>
                            <mat-cell *matCellDef="let document"> {{document.documentCreateDate | date: 'yyyy/MM/dd HH:mm'}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="delete">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> 削除 </mat-header-cell>
                            <mat-cell *matCellDef="let document">
                                <div class="delete_icon">
                                    <button mat-icon-button (click)="deleteDraft(document.documentId)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="tableService.displayedColumnsDraft"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: tableService.displayedColumnsDraft;"></mat-row>
                    </mat-table>
                </div>
            </div>
        </div>
    </div>
</div>