<div id="wrap_main_content">
    <div class="wrap_main_content_center">
        <div class="main_content_header main_content_header_text">
            新規文書 - 下書き文書選択
        </div>
        <div class="wrap_list_box wrap_list_box_tall">
            <div class="list_box">
                <div class="list_box_header">
                    <h3>下書き文書一覧</h3>
                </div>
                <div class="list_box_content list_box_content_tall">
                    <div class="content_scroll_y">
                        <table id="info_list">
                            <tr>
                                <th id="info_list_id">文書ID</th>
                                <th id="info_list_name">文書タイトル</th>
                                <th id="info_list_date">作成日</th>
                                <th id="info_list_delete">削除</th>
                            </tr>
                            <tr *ngFor="let l of list">
                                <td>{{ l.documentId }}</td>
                                <td>
                                    <a href="/edit/{{ l.documentId }}">{{ l.documentName }}</a>
                                </td>
                                <td>{{ conv.time2Date(l.documentCreateDate) }}</td>
                                <td>
                                    <div class="delete_icon">
                                        <button mat-icon-button (click)="deleteDraft(l.documentId)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>