<div id="wrap_side_menu_content">
	<div id="menu_search_content" class="menu_content">
		<div class="wrap_search_content">
		</div>
		<div class="wrap_search_content">
			<div id="search_box">
				<mat-form-field>
					<input matInput placeholder="Tag Name" value="" [(ngModel)]="searchService.searchWord" (keyup)="searchService.searchTag()">
				</mat-form-field>
				<div id="selected_tags" *ngFor="let stag of searchService.selectedTags; let idx = index">
					<div class="tag_base tag_middle" (click)="searchService.deleteTagsToResult($event,idx)">{{stag.tagName}}</div>
				</div>
			</div>
		</div>

		<div class="wrap_search_content">
			<div id="search_tag_candidate" class="content_scroll_y">
				<div *ngFor="let tag of searchService.targetTags; let idx = index">
					<div class="tag_base tag_middle" (click)="searchService.addTagsToResult($event,idx)">{{tag.tagName}}</div>
				</div>
			</div>
		</div>
	</div>
</div>