<div id="wrap_main_content">
	<div class="wrap_main_content_center content_scroll">
		<div class="main_content_header main_content_header_text">
			通知設定
			<div class="apply-button">
				<button mat-raised-button (click)="reset()">キャンセル</button>
				<button mat-raised-button color="primary" (click)="submit()">適用</button>
			</div>
		</div>
		<div class="wrap_list_box">
			<div class="list_box">
				<div class="list_box_header">
					<h3>コメント通知</h3>
				</div>
				<div class="config_text">
					メール：
					<mat-slide-toggle color="primary" (change)="toggleCommentMail()" [checked]="isCommentMail"></mat-slide-toggle>
					&emsp;&emsp;&emsp; プッシュ：
					<mat-slide-toggle color="accent" (change)="toggleCommentPush()" [checked]="isCommentBrowser"></mat-slide-toggle>
				</div>
				<div class="list_box_header_square">
					<h3>監視タグ通知</h3>
					<br>
				</div>
				<div class="config_text">
					メール：
					<mat-slide-toggle color="primary" (change)="toggleTagMail()" [checked]="isTagMail"></mat-slide-toggle>
					&emsp;&emsp;&emsp; プッシュ：
					<mat-slide-toggle color="accent" (change)="toggleTagPush()" [checked]="isTagBrowser"></mat-slide-toggle>
				</div>

				<div class="config_text">
					<table class="t-line">
						<tr>
							<th>タグ名</th>
							<th>メール</th>
							<th class="boder-none">プッシュ</th>
						</tr>
						<tr *ngFor="let n of tagNotification; let idx = index">
							<td>{{n.tagName}}</td>
							<td>
								<mat-slide-toggle color="primary" [checked]="n.isMailNotification"></mat-slide-toggle>
							</td>
							<td>
								<mat-slide-toggle color="accent" [checked]="n.isBrowserNotification"></mat-slide-toggle>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>