<div id="wrap_main_content">
	<div class="wrap_main_content_center">
		<div class="main_content_header main_content_header_text">
			<div class="apply-button">
				<button mat-raised-button (click)="cancel()">キャンセル</button>
				<button mat-raised-button color="primary" (click)="submit()">保存</button>
			</div>
		</div>
		<div class="wrap_list_box">
			<div class="list_box content_scroll_y">
				<div class="list_box_header">
					<h3>コメント通知</h3>
				</div>
				<div class="config_text">
					<div class="notification_mail">
						メール：
						<mat-slide-toggle color="primary" [(ngModel)]="notification.mailNotification"></mat-slide-toggle>
					</div>
					<div class="notification_browser">
						プッシュ：
						<mat-slide-toggle color="accent" [(ngModel)]="notification.browserNotification"></mat-slide-toggle>
					</div>
				</div>
				<div class="list_box_header_square">
					<h3>監視タグ通知</h3>
					<br>
				</div>
				<div class="config_text">
					<div class="notification_mail">
						メール：
						<mat-slide-toggle color="primary" (change)="toggleTagMailAll()" [(ngModel)]="isTagMail"></mat-slide-toggle>
					</div>
					<div class="notification_browser">
						プッシュ：
						<mat-slide-toggle color="accent" (change)="toggleTagBrowserAll()" [(ngModel)]="isTagBrowser"></mat-slide-toggle>
					</div>
				</div>
				<div *ngIf="existTags; then tagsTable; else noTags"></div>
				<ng-template #tagsTable>
					<mat-table #table [dataSource]="dataSource" matSort>
						<ng-container matColumnDef="tagName">
							<mat-header-cell *matHeaderCellDef mat-sort-header> タグ名 </mat-header-cell>
							<mat-cell *matCellDef="let tag">
								<span class="title_column">{{tag.tagName}}</span>
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="mailNotification">
							<mat-header-cell *matHeaderCellDef mat-sort-header> メール通知 </mat-header-cell>
							<mat-cell *matCellDef="let tag">
								<mat-slide-toggle [(ngModel)]="tag.mailNotification" color="primary"></mat-slide-toggle>
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="browserNotification">
							<mat-header-cell *matHeaderCellDef mat-sort-header> ブラウザ通知 </mat-header-cell>
							<mat-cell *matCellDef="let tag">
								<mat-slide-toggle [(ngModel)]="tag.browserNotification" color="accent"></mat-slide-toggle>
							</mat-cell>
						</ng-container>
						<mat-header-row *matHeaderRowDef="tableService.displayedColumnsTag"></mat-header-row>
						<mat-row *matRowDef="let row; columns: tableService.displayedColumnsTag;"></mat-row>
					</mat-table>
				</ng-template>
				<ng-template #noTags>
					<div class="no_tags">監視タグが設定されていません。</div>
				</ng-template>
				<br/>
			</div>
		</div>

	</div>