.list_box {
    border: 1px black solid;
    height: calc(100vh - 225px);
    width: 100%;
    min-width: 700px;
    padding: 0;
    border-radius: 5px;
    border: 2px #999 solid;
    box-shadow: 2px 2px 2px #999;
    /* background-color: #fff; */
}
.list_box_header {
    border: 0;
    padding: 0.3em;
    width: 100%;
    height: 2.6em;
    background: #6bdba5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 4px #0f9d58 double;
}
.list_box_header_square {
    border: 0;
    padding: 0.3em;
    width: 100%;
    height: 2.6em;
    background: #6bdba5;
    border-bottom: 4px #0f9d58 double;
}
.list_box_header_square h3 {
    margin-left: 0.5em;
    padding-left: 0.5em;
    color: #555;
    border-left: 4px #0f9d58 solid;
}
.config_text {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.notification_mail {
    margin-right: 1.5em;
}

.notification_browser {
    margin-left: 1.5em;
}

.no_tags {
    text-align: center;
}

.mat-table{
    width: 1000px;
    min-width: 500px;
    margin: auto;
}

.mat-column-mailNotification{
    flex: 0 0 150px;
}

.mat-column-browserNotification{
    flex: 0 0 150px;
}