<div id="wrap_main_content">
	<div class="wrap_main_content_center content_scroll">
		<div class="main_content_header">
			<h1>通知設定</h1>
		</div>
		<div class="wrap_list_box">
			<div class="list_box">
				<div class="list_box_header">
					<h3>コメント通知</h3>
				</div>
				<div class="config_text">
					メール：
					<input type="checkbox" id="toggleButton" class="toggle-button" checked="checked">
					<label for="toggleButton1"></label>
					&emsp;&emsp;&emsp; プッシュ：
					<input type="checkbox" id="toggleButton" class="toggle-button" checked="checked">
					<label for="toggleButton2"></label>
				</div>
				<div class="list_box_header_square">
					<h3>監視タグ通知</h3>
					<br>
				</div>
				<div class="config_text">
					メール：
					<input type="checkbox" id="toggleButton" class="toggle-button" checked="checked">
					<label for="toggleButton3"></label>
					&emsp;&emsp;&emsp; プッシュ：
					<input type="checkbox" id="toggleButton" class="toggle-button" checked="checked">
					<label for="toggleButton4"></label>
				</div>
				<br>
				<br>
				<br>

				<div class="config_text">
					<table class="t-line">
						<tr>
							<th>タグ名</th>
							<th>メール</th>
							<th class="boder-none">プッシュ</th>
						</tr>
						<tr>
							<td>新人研修_A-AUTO</td>
							<td>
								<input type="checkbox" id="toggleButton_tag" class="toggle-button_tag">
								<label for="toggleButton_tag5"></label>
							</td>
							<td>
								<input type="checkbox" id="toggleButton_tag" class="toggle-button_tag">
								<label for="toggleButton_tag6"></label>
							</td>
						</tr>
						<tr>
							<td>新人研修_帳票</td>
							<td>
								<input type="checkbox" id="toggleButton_tag" class="toggle-button_tag">
								<label for="toggleButton_tag7"></label>
							</td>
							<td>
								<input type="checkbox" id="toggleButton_tag" class="toggle-button_tag">
								<label for="toggleButton_tag8"></label>
							</td>
						</tr>
						<tr>
							<td>新人研修_Waha!</td>
							<td>
								<input type="checkbox" id="toggleButton_tag" class="toggle-button_tag">
								<label for="toggleButton_tag9"></label>
							</td>
							<td>
								<input type="checkbox" id="toggleButton_tag" class="toggle-button_tag">
								<label for="toggleButton_tag10"></label>
							</td>
						</tr>
						<tr>
							<td>新人研修_A-AUTO</td>
							<td>
								<input type="checkbox" id="toggleButton_tag" class="toggle-button_tag">
								<label for="toggleButton_tag11"></label>
							</td>
							<td>
								<input type="checkbox" id="toggleButton_tag" class="toggle-button_tag">
								<label for="toggleButton_tag12"></label>
							</td>
						</tr>
						<tr>
							<td>新人研修_帳票</td>
							<td>
								<input type="checkbox" id="toggleButton_tag" class="toggle-button_tag">
								<label for="toggleButton_tag13"></label>
							</td>
							<td>
								<input type="checkbox" id="toggleButton_tag" class="toggle-button_tag">
								<label for="toggleButton_tag14"></label>
							</td>
						</tr>
						<tr>
							<td>新人研修_Waha!</td>
							<td>
								<input type="checkbox" id="toggleButton_tag" class="toggle-button_tag">
								<label for="toggleButton_tag15"></label>
							</td>
							<td>
								<input type="checkbox" id="toggleButton_tag" class="toggle-button_tag">
								<label for="toggleButton_tag16"></label>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>