<div [ngSwitch]="nav.visible">
	<div *ngSwitchCase="true">
		<div [ngSwitch]="nav.isUser">
			<!-- 一般ユーザ -->
			<nav *ngSwitchCase="true" class="container">
				<!-- ツールバー -->
				<mat-toolbar class="toolbar">
					<button mat-icon-button class="menu_button" (click)="sidenav.toggle()">
						<mat-icon>menu</mat-icon>
					</button>
					<img id="logo" src="../assets/image/logo.png" (click)="nav.toTop()">
					<button mat-button [matMenuTriggerFor]="menu">
						<img [src]="'http://localhost:8080/v1/icon/me'" class="account_icon" />
						{{ authService.userdetail.lastName + authService.userdetail.firstName }}
					</button>
					<mat-menu #menu="matMenu">
						<button mat-menu-item (click)="nav.toMySetting()">ユーザ設定</button>
						<button mat-menu-item (click)="logout()">ログアウト</button>
					</mat-menu>
				</mat-toolbar>

				<mat-sidenav-container class="sidenav_parent">
					<mat-sidenav #sidenav mode="side" opened="false" class="sidenav_parent_content">
						<app-sidenav-child></app-sidenav-child>
					</mat-sidenav>

					<mat-sidenav-content>
						<!-- メインコンテンツ -->
						<div class="main_content">
							<router-outlet></router-outlet>
						</div>
					</mat-sidenav-content>
				</mat-sidenav-container>
			</nav>

			<!-- Adminユーザ -->
			<nav *ngSwitchCase="false" class="container">
				<mat-toolbar class="toolbar">
					<button mat-icon-button class="menu_button" (click)="sidenav.toggle()">
						<mat-icon>menu</mat-icon>
					</button>
					<img id="logo" src="../assets/image/logo.png">
					<button mat-button [matMenuTriggerFor]="menu">
						<mat-icon>account_circle</mat-icon>
						{{ authService.userdetail.lastName + authService.userdetail.firstName }}
					</button>
					<mat-menu #menu="matMenu">
						<button mat-menu-item (click)="logout()">ログアウト</button>
					</mat-menu>
				</mat-toolbar>

				<mat-sidenav-container class="sidenav_parent">
					<mat-sidenav #sidenav mode="side" opened="false" class="sidenav_parent_content">
						<app-sidenav-admin></app-sidenav-admin>
					</mat-sidenav>

					<mat-sidenav-content>
						<!-- メインコンテンツ -->
						<div class="main-content">
							<router-outlet></router-outlet>
						</div>
					</mat-sidenav-content>
				</mat-sidenav-container>
			</nav>
		</div>
	</div>

	<!-- ログインページ -->
	<nav *ngSwitchCase="false">
		<router-outlet></router-outlet>
	</nav>

</div>