#wrap_edit_template {
  width: calc(100% - 270px);
  margin-right: 20px;
}

#wrap_edit_template_toolbar {
  width: 250px;
}

#wrap_edit_template_toolbar h2 {
  text-align: center;
  line-height: 2em;
  height: 2em;
}

.wrap_edit_content {
  float: left;
  height: calc(100% - 20px);
  margin: 0;
  padding: 0;
}

.wrap_main_content_center form {
  margin: 0;
  padding: 0;
  height: 100%;
}

#edit_template_header {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  padding: 10px 30px;
}

#edit_template_body {
  margin: 0 0;
  padding: 0;
  height: calc(100% - 50px);
  /* width: 94%; */
  width: 100%;
}

#template_title {
  margin-top: 50px;
  margin-left: calc(50% - 400px);
  max-width: 400px;
  width: 50%;
  height: auto;
}

#template_plate {
  background: #fff;
  margin-top: 5px;
  /* margin-left: calc(50% - 400px); */
  margin-right: 100px;
  padding: 10px;
  min-width: 800px;
  width: auto;
  min-height: 800px;
  height: auto;
  border-top: 1px #ddd solid;
  border-left: 1px #ddd solid;
  box-shadow: 5px 5px 5px #999;
}

.template_block_desc {
  width: 90%;
}

.block_body_content_full {
  margin-left: 1em;
  width: 95%;
}

.block_body_content_half {
  margin-left: 1em;
  width: 50%;
}

/*固定タグ*/

#tag_list {
  margin: 10px;
  min-height: 40px;
}

/* ここまでテンプレ部分 */

/* ここからツールバー */

#template_block_list {
  margin: 5%;
  padding: 0;
  width: 90%;
  height: auto;
  border-top: 2px #666 dashed;
  border-bottom: 2px #666 dashed;
}

#wrap_template_toolbar_content {
  height: calc(100% - 220px);
}

.edit_template_tab {
  height: 100%;
}

/*ブロック*/

.wrap_template_block {
  margin: 5px;
  padding: 0;
  width: auto;
}

.template_content {
  position: relative;
  margin: 5px;
  padding: 5px;
  height: auto;
  width: auto;
}

.template_block_info {
  margin: 10px 5px;
  padding: 5px;
  height: auto;
  width: auto;
  white-space: pre-wrap;
  background: white;
  border: 1px black solid;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.template_block_body {
  padding: 5px;
  height: auto;
  width: 100%;
  transition: all 0.3s;
}

.content_remove {
  margin: 0;
  padding: 0 5px;
  position: absolute;
  right: 20px;
  top: 15px;
  font-weight: bolder;
  font-size: 15px;
  border: 2px #999 solid;
  border-radius: 5px;
  opacity: 0;
  transition: 0.3s;
}

.template_block_body:hover {
  border: 1px #aaa solid;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #ddd;
}

.template_block_body:hover .content_remove {
  opacity: 1;
}

.content_remove:hover {
  background: #666;
  color: #fff;
}

.block_header {
  margin: 5px;
  height: 4.5em;
}

#block_title {
  margin-left: 1em;
  width: 95%;
}

.block_body {
  width: calc(100% - 10px);
  height: auto;
  margin: 5px;
  padding: 5px;
}

/*ボタン*/

#wrap_template_toolbar_button {
  bottom: 0;
  width: 100%;
}

.send_button {
  text-align: center;
  line-height: 60px;
  width: 90%;
  margin: 2%;
  height: 60px;
  font-size: 18px;
  background: white;
  color: #0f9d58;
  border: 2px #0f9d58 solid;
  border-radius: 5px;
  transition: all 0.3s;
}

.send_button:hover {
  background: #0f9d58;
  color: white;
}



/* 検索 */
.wrap_search_content {
    width: 95%;
    margin: 10px 4px;
    padding: 1px;
    height: calc(100vh - 500px);
}

.wrap_search_content h2 {
    text-align: center;
}

#search_box {
    background: white;
    margin-left: 2%;
    padding: 10px;
    width: 96%;
    height: 220px;
    border: 1px #999 solid;
    border-radius: 15px;
}

#search_box input {
    border: none;
    outline: 0;
    font-size: 12px;
    height: 25px;
}

#search_tag_candidate {
    background: white;
    border: 1px #999 solid ;
    margin-left: 10%;
    width: 80%;
    height: 100%;
}


/* タグ */
.tag_base {
    padding: 0.4em 0.5em;
    color: #494949;
    background: #f4f4f4;
    margin: 5px;
    cursor: pointer;
}

#tag_label {
  height: 100%;
}

.tag_side {
    float: left;
}

.tag_large {
    border-left: solid 6px #0f9d58;
    border-bottom: solid 4px #d7d7d7;
}

.tag_middle {
    font-size: 13px;
    width: 180px;
    border-left: solid 5px #0f9d58;
    /* border-bottom: solid 3px #d7d7d7; */
}

.tag_small {
    font-size: 11px;
    width: 150px;
    border-left: solid 4px #0f9d58;
    /* border-bottom: solid 2px #d7d7d7; */
}

.tag_erasable:hover {
    color: #ccc;
}

.tag_remove {
    margin: -0.2em;
    padding-right: 5px;
    font-size: 1.4em;
    font-weight: bolder;
    float: right;
    color: #bbb;
    opacity: 0;
    z-index: 0;
}

.tag_erasable:hover .tag_remove{
    opacity: 1;
}
.tag_erasable:hover .tag_remove:hover{
    color: #000;
}

/deep/.mat-tab-label{
  min-width: 1px!important;
  width: 48%;
  padding: 0px;
}
/* ここまでツールバー */