<div id="wrap_main_content">
    <div class="wrap_main_content_center content_scroll">
        <div id="wrap_edit_template" class="wrap_edit_content">
            <div id="edit_template_header">
                <h2>テンプレート編集</h2>
            </div>
            <div id="edit_template_body" class="content_scroll_y">
                <mat-form-field id="template_title">
                    <input matInput [(ngModel)]="template.templateName" name="templateName" placeholder="テンプレート名">
                </mat-form-field>
                <div id="template_plate">
                    <div id="wrap_tag_list">
                        <h2>固定タグ編集</h2>
                        <div id="tag_list">

                            <div id="selected_tags" *ngFor="let stag of searchService.selectedTags; let idx = index">
                                <div class="tag_base tag_small tag_side tag_erasable" (click)="searchService.deleteTags($event,idx)">{{stag.tagName}}</div>
                            </div>
                            <div *ngFor="let t of searchService.newTags">
                                <div class="tag_base tag_new tag_side tag_erasable" (click)="searchService.deleteNewTags($event)">{{ t.tagName }}</div>
                            </div>
                        </div>
                    </div>
                    <div id="template_content_list" [dragula]='"template-contents"' [dragulaModel]='contents'>
                        <!-- コンテンツ -->
                        <div class="template_content" *ngFor="let content of template.contents;trackBy:trackByIndex;let idx = index;">
                            <div class="template_block_body">
                                <div *ngIf="!content.isUnique" class="content_remove" (click)="removeBlock(idx)">X</div>
                                <div class="block_header">
                                    <h4>{{ content.block.blockName }}</h4>
                                    <mat-form-field id="block_title">
                                        <input matInput [(ngModel)]="content.values[0]" placeholder="タイトル">
                                    </mat-form-field>
                                </div>
                                <div class="block_body">
                                    <div *ngFor="let item of content.block.items;let i = index;">
                                        <div [ngSwitch]="item.templateType">
                                            <div *ngSwitchCase="'span'">
                                                <span>{{ item.value }}</span>
                                            </div>
                                            <div *ngSwitchCase="'text'">
                                                <mat-form-field class="block_body_content_half">
                                                    <input matInput [(ngModel)]="content.values[content.block.getTemplateValueIndex(i)]" placeholder="{{ item.value }}">
                                                </mat-form-field>
                                            </div>
                                            <div *ngSwitchCase="'textarea'">
                                                <mat-form-field class="block_body_content_full">
                                                    <textarea matInput rows="3" [(ngModel)]="content.values[content.block.getTemplateValueIndex(i)]">{{ item.value }}</textarea>
                                                </mat-form-field>
                                            </div>
                                            <div *ngSwitchCase="'checkbox'">
                                                <mat-checkbox class="block_body_content_half" (click)="false">
                                                    <mat-form-field>
                                                        <input matInput placeholder="{{ item.value }}" [(ngModel)]="content.values[content.block.getTemplateValueIndex(i)]">
                                                    </mat-form-field>
                                                </mat-checkbox>
                                            </div>
                                            <div *ngSwitchCase="'radio'">
                                                <mat-radio-button value="i" class="block_body_content_half" (click)="false">
                                                    <mat-form-field>
                                                        <input matInput placeholder="{{ item.value }}" [(ngModel)]="content.values[content.block.getTemplateValueIndex(i)]">
                                                    </mat-form-field>
                                                </mat-radio-button>
                                            </div>

                                            <!-- 記入者入力欄 -->
                                            <div *ngSwitchCase="'disabledText'">
                                                <mat-form-field class="block_body_content_full">
                                                    <input matInput placeholder="記入者入力欄" disabled>
                                                </mat-form-field>
                                            </div>
                                            <div *ngSwitchCase="'disabledTextarea'">
                                                <mat-form-field class="block_body_content_full">
                                                    <textarea matInput rows="3" disabled>記入者入力欄</textarea>
                                                </mat-form-field>
                                            </div>
                                            <!-- 記入者入力欄 -->
                                        </div>
                                    </div>
                                    <div *ngIf="content.block.additionalType == 'template'" class="block_item">
                                        <button mat-raised-button color="primary" (click)="addItem(idx)">要素追加</button>
                                        <button mat-raised-button (click)="removeItem(idx)">要素削除</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- コンテンツ -->
                    </div>
                </div>
            </div>
        </div>
        <div id="wrap_edit_template_toolbar" class="wrap_edit_content">
            <div id="wrap_template_toolbar_content">
                <mat-tab-group class="edit_template_tab">
                    <mat-tab label="ブロック" id="tag_label">
                        <div id="template_block_list" class="content_scroll_y" [dragula]='"template-block"'>
                            <!-- テンプレートリスト -->
                            <div *ngFor="let block of blockList">
                                <div id="{{ block[0] }}" class="template_block_info">{{ block[1] }}</div>
                            </div>
                            <!-- テンプレートリスト -->
                        </div>
                    </mat-tab>

                    <mat-tab label="タグ" id="tag_label">
                        <div id="menu_search_content" class="menu_content">
                            <div *ngIf="searchService.selectedTags.length < 8">
                                <mat-form-field>
                                    <input matInput placeholder="Tag Name" value="" (input)="searchService.searchTag($event.target.value)">
                                </mat-form-field>
                            </div>

                            <div class="wrap_search_content">
                                <div id="search_tag_candidate" class="content_scroll_y">
                                    <nav *ngIf="searchService.createNewTag() != ''">
                                        <div class="tag_base tag_new" (click)="searchService.addNewTags($event)">{{searchService.newTagName}}</div>
                                    </nav>
                                    <div *ngFor="let tag of searchService.targetTags; let idx = index">
                                        <div class="tag_base tag_middle" (click)="searchService.addTags($event,4,idx)">{{tag.tagName}}</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>

            <div id="wrap_template_toolbar_button">
                <div>
                    <button mat-raised-button class="send_button" (click)="submit('draft')">下書き</button>
                </div>
                <div>
                    <button mat-raised-button class="send_button" (click)="submit('save')">保存</button>
                </div>
                <div>
                    <button mat-raised-button class="send_button" (click)="goBack()">戻る</button>
                </div>
            </div>

        </div>
    </div>
</div>