<mat-toolbar class="toolbar">
	<img id="logo" src="../assets/image/logo.png">
</mat-toolbar>

<mat-card class="wrap_card">
	<mat-card-title>パスワード再設定</mat-card-title>
	<mat-card-content>
		<div class="form-error">{{ errorMessage }}</div>
		<mat-form-field class="wrap_input_form">
			<input matInput [(ngModel)]="this.password" [type]="hide ? 'text' : 'password'" placeholder="新しいパスワード" required>
			<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
		</mat-form-field>
		<mat-form-field class="wrap_input_form">
			<input matInput [(ngModel)]="this.passwordCheck" [type]="hide_check ? 'text' : 'password'" placeholder="新しいパスワード（確認）" required>
			<mat-icon matSuffix (click)="hide_check = !hide_check">{{hide_check ? 'visibility_off' : 'visibility'}}</mat-icon>
		</mat-form-field>
	</mat-card-content>
	<mat-card-footer class="wrap_card_footer">
		<button mat-raised-button (click)="sendNewPassword()" color="primary">送信</button>
	</mat-card-footer>
</mat-card>