.wrap_card {
    margin-top: 20%;
    margin-left: calc(50% - 150px);
    margin-right: calc(50% - 150px);
    text-align: center;
}

.wrap_input_form {
    margin-top: 5px;
    width: 100%;
}

.wrap_card_footer {
    margin-bottom: 10px;
}

.form-error {
    margin-top: 1em;
    margin-bottom: 1em;
    height: 2em;
    white-space: pre-wrap;
    text-align: center;
    color: red;
}

.toolbar{
    border-bottom: 1px #777777 solid;
}

#logo{
    height: 100%;
    max-width: 50%;
    margin: 0 auto;
}