<form id="reset-pass-form">
  <div id="reset-pass">
    <table class="input-form">
      <tr>
        <th>社員番号</th>
        <td><input type="text" name="pass" id="employee_id" style="width:100%"></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><input type="text" name="pass" id="mail" style="width:100%"></td>
      </tr>
    </table>
    <div id="buttons">
      <button id="cancel" (click)="onClose()">キャンセル</button>
      <button id="send">送信</button>
    </div>
  </div>
</form>
