<mat-sidenav-container class="sidenav-child">
  <mat-sidenav #sidenav_child mode="side" opened="true">
    <mat-sidenav-container class="sidenav-child-menu">

      <!-- サイドメニューボタン -->
      <div id="wrap_side_menu_icon">
        <div id="menu_user" class="side_menu_icon"></div>
      </div>
    </mat-sidenav-container>
  </mat-sidenav>

  <!-- サイドメニューコンテンツ -->
  <!--メニュー -->

  <div id="wrap_side_menu_content">
    <div id="menu_user_content" class="menu_content">
      <div class="wrap_menu_contet_link">
        <div class="menu_content_link">
          <img src="/assets/image/user_config.svg" />
          <div class="menu_content_link_text" (click)="nav.toUserManagement()">ユーザ管理</div>
        </div>
        <div class="menu_content_link">
          <img src="/assets/image/new.svg" />
          <div class="menu_content_link_text" (click)="nav.toTemplate()">テンプレート一覧</div>
        </div>
      </div>
    </div>
  </div>

</mat-sidenav-container>